body {
  font-family:
    Futura,
    Trebuchet MS,
    Arial,
    sans-serif;
  color: #363436;
  text-align: center;
  margin: 0;
}

a {
  color: #363436;
}

dl {
  max-width: max-content;
  margin: auto;
}

dl > div {
  padding: 4px;
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 0;
}

cite {
  text-align: right;
  display: block;
  font-size: smaller;
}

header {
  padding: 32px;
}

section,
hgroup {
  max-width: 600px;
  margin: auto;
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

iframe {
  border: none;
}

.section-links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
}

.section-links li {
  display: flex;
  width: 100%;
  justify-content: center;
}

footer {
  color: whitesmoke;
  background-color: #1e1e1e;
  padding: 32px;
  margin-top: 64px;
  font-size: smaller;
}

footer a {
  color: whitesmoke;
}

@media (max-width: 600px) {
  iframe {
    max-width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: whitesmoke;
    background-color: #020202;
  }

  a {
    color: whitesmoke;
  }

  footer {
    color: #363436;
    background-color: whitesmoke;
  }

  footer a {
    color: #363436;
  }
}
